<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCD63NjTbLAPzqOQX8T-ufX8KS-B3MpdqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>441830633759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ankita.recordngapp</string>
	<key>PROJECT_ID</key>
	<string>audiorecordingapp-e9a50</string>
	<key>STORAGE_BUCKET</key>
	<string>audiorecordingapp-e9a50.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441830633759:ios:a115e194ec97c79ed6802a</string>
</dict>
</plist>